.list {
  list-style: none;
  border: 1px solid #999;
  border-radius: 4px;
  width: 100%;
  margin: 20px 0;
  box-sizing: border-box;
}

.list li {
  display: flex;
  align-items: center;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #999;
}

.list li:last-child {
  border-bottom: none;
}


